h1,
h2 {
    font-weight: 400;
}
body{
    background-color: dimgrey;
}
#myheadshot{
    width: 450px;
}
#imaginary{
    width: 450px;
    
}
#abbyswanson{
    width: 400px;
}
#concert{
    width:400px;
}
a{
    text-transform: uppercase;
}
.logo {
    height: 6em;
}
header {
    display: flex;
    align-items: center;
    background-color: #333;
}
header nav{
    flex: 1;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
}
header nav li{
    list-style-type: none;
    padding: 1em;
}
main{
    display: flex;
    align-items: center;
    flex: 1;
}
@media screen and (max-width: 30rem){
    header,
    main,
    footer{
        flex-direction:column;
    }
}

